<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Joint fixe entre le châssis et le GNSS -->
  <joint name="gnss_joint" type="fixed">
    <parent link="chassis"/>
    <child link="gnss_frame"/>
   
    <origin xyz="0.10 0 0.80" rpy="0 0 0"/>
  </joint>

  
  <link name="gnss_frame">
   
  </link>

  <!-- Définition du capteur GNSS pour Gazebo Sim -->
  <gazebo reference="gnss_frame">
    <material>Gazebo/Black</material>

    <!-- Capteur GNSS -->
    <sensor name="gnss" type="navsat">
      <pose>0 0 0 0 0 0</pose>
      
      <topic>/gnss/fix</topic>
      
      <gz_frame_id>gnss_frame</gz_frame_id>
      <update_rate>10</update_rate>

      <navsat>
        
        
        <position_sensing>
          <horizontal>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.5</stddev>      
            </noise>
          </horizontal>
          <vertical>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.0</stddev>      
            </noise>
          </vertical>
        </position_sensing>
        <velocity_sensing>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>0.1</stddev>        
          </noise>
        </velocity_sensing>
      </navsat>

      
      <visualize>true</visualize>
    </sensor>
  </gazebo>

</robot>
